In [136]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split 
from sklearn import metrics
from sklearn.metrics import confusion_matrix, multilabel_confusion_matrix

In [60]:
df=pd.read_csv("data/udemy_finance.csv")

### PIPELINE

In [ ]:
# TODO


# def count_unique(dataset):
#     df_categorical=df.select_dtypes(exclude=["number"])
#     for col in df_categorical.columns:
#         val_count=df_categorical[col].value_counts().to_dict()
#         return val_count

In [116]:
def format_feature_metrics(missing_count,non_missing_count,mean,minimum,maximum,sum,standard_deviation,variance):
    formated_metrics={'missing_count':missing_count,'non_missing_count':non_missing_count,'mean':mean,'minimum':minimum,'maximum':maximum,'sum':sum,'standard_deviation':standard_deviation,'variance':variance}

    return formated_metrics


def create_feature_metrics_pipeline(dataset):
    missing_count=dataset.isna().sum().to_dict()
    non_missing_count=dataset.notna().sum().to_dict()
    mean=dataset.mean(numeric_only=True).to_dict()
    minimum=dataset.min(numeric_only=True).to_dict()
    maximum=dataset.max(numeric_only=True).to_dict()
    sum=dataset.sum(numeric_only=True).to_dict()
    standard_deviation=dataset.std(numeric_only=True).to_dict()
    variance=dataset.var(numeric_only=True).to_dict()
    #count_unique_categorical=count_unique(dataset)

    
    return format_feature_metrics(missing_count,non_missing_count,mean,minimum,maximum,sum,standard_deviation,variance)

In [ ]:
create_feature_metrics_pipeline(df)

### Binary Classifier

In [118]:
dfcb=pd.read_csv("data/udemy_fin_adj.csv")
dfcb["is_paid"]=dfcb["is_paid"].map({True:0,False:1})
dfcb["discount_price__currency"]=dfcb["discount_price__currency"].map({'Dollar':0,'Euro':1,'Pound':3})
dfcb

,is_paid,num_subscribers,avg_rating,avg_rating_recent,rating,num_reviews,num_published_lectures,discount_price__amount,discount_price__currency
0,0,295509,4.66019,4.67874,4.67874,78006,84,455.0,0
1,0,209070,4.58956,4.60015,4.60015,54581,78,455.0,0
2,0,155282,4.59491,4.59326,4.59326,52653,292,455.0,1
3,0,245860,4.54407,4.53772,4.53772,46447,338,455.0,0
4,1,374836,4.47080,4.47173,4.47173,41630,83,455.0,3
...,...,...,...,...,...,...,...,...,...
12200,1,3,0.00000,0.00000,0.00000,0,11,455.0,1
12201,0,4,0.00000,0.00000,0.00000,0,14,455.0,0
12202,1,2,0.00000,0.00000,0.00000,0,7,455.0,0
12203,0,0,0.00000,0.00000,0.00000,0,11,455.0,3
12204,0,1,0.00000,0.00000,0.00000,0,18,455.0,1

In [119]:
X=dfcb.drop(['is_paid'], axis=1)
y = dfcb.is_paid

In [120]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [121]:
clf = DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)

In [128]:
tn,fp,fn,tp = confusion_matrix(y_test, y_pred).ravel()
fp

889

In [129]:
def format_evaluation_metrics_binary(accuracy, precision, recall, f1, tn, fp, fn, tp):
    formated_metrics_for_binary={'accuracy':accuracy,'precision':precision,'recall':recall,'f1':f1,'true_negative':tn,'false_positive':fp,'false_negative':fn,'true_positive':tp}

    return formated_metrics_for_binary

def create_binary_classification_evaluation_metrics_pipeline(test_set,prediction_set):
    accuracy=metrics.accuracy_score(test_set,prediction_set)
    precision=metrics.precision_score(test_set,prediction_set)
    recall=metrics.recall_score(test_set,prediction_set)
    f1=recall=metrics.f1_score(test_set,prediction_set)
    tn,fp,fn,tp = confusion_matrix(y_test, y_pred).ravel()

    return format_evaluation_metrics_binary(accuracy, precision, recall, f1, tn, fp, fn, tp)

In [130]:
create_binary_classification_evaluation_metrics_pipeline(y_test, y_pred)

{'accuracy': 0.5117422173675588,
 'precision': 0.5091109884041966,
 'recall': 0.5077092511013216,
 'f1': 0.5077092511013216,
 'true_negative': 952,
 'false_positive': 889,
 'false_negative': 899,
 'true_positive': 922}

### Multiple Classification

In [131]:
dfcm=pd.read_csv("data/udemy_fin_adj.csv")
dfcm["is_paid"]=dfcm["is_paid"].map({True:0,False:1})
dfcm["discount_price__currency"]=dfcm["discount_price__currency"].map({'Dollar':0,'Euro':1,'Pound':3})
dfcm

,is_paid,num_subscribers,avg_rating,avg_rating_recent,rating,num_reviews,num_published_lectures,discount_price__amount,discount_price__currency
0,0,295509,4.66019,4.67874,4.67874,78006,84,455.0,0
1,0,209070,4.58956,4.60015,4.60015,54581,78,455.0,0
2,0,155282,4.59491,4.59326,4.59326,52653,292,455.0,1
3,0,245860,4.54407,4.53772,4.53772,46447,338,455.0,0
4,1,374836,4.47080,4.47173,4.47173,41630,83,455.0,3
...,...,...,...,...,...,...,...,...,...
12200,1,3,0.00000,0.00000,0.00000,0,11,455.0,1
12201,0,4,0.00000,0.00000,0.00000,0,14,455.0,0
12202,1,2,0.00000,0.00000,0.00000,0,7,455.0,0
12203,0,0,0.00000,0.00000,0.00000,0,11,455.0,3
12204,0,1,0.00000,0.00000,0.00000,0,18,455.0,1

In [132]:
X=dfcm.drop(['discount_price__currency'], axis=1)
y = dfcm.discount_price__currency

In [133]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [134]:
dtree_model = DecisionTreeClassifier().fit(X_train, y_train)
dtree_predictions = dtree_model.predict(X_test)

In [147]:
cm=multilabel_confusion_matrix(y_test, dtree_predictions)
mult_dict={}
class_key=0
for i in cm:
    tn, fp, fn, tp = i.ravel()
    eval_dict= {'true_negative':tn,'false_positive':fp,'false_negative':fn,'true_positive':tp}
    mult_dict['class{}'.format(class_key)]=eval_dict
    class_key=class_key+1

In [148]:
mult_dict

{'class0': {'true_negative': 1577,
  'false_positive': 873,
  'false_negative': 821,
  'true_positive': 391},
 'class1': {'true_negative': 1662,
  'false_positive': 775,
  'false_negative': 853,
  'true_positive': 372},
 'class2': {'true_negative': 1608,
  'false_positive': 829,
  'false_negative': 803,
  'true_positive': 422}}

In [149]:
def confusion_for_multiclass(test_set,prediction_set):
    cm=multilabel_confusion_matrix(test_set,prediction_set)
    mult_dict={}
    class_key=0
    for i in cm:
        tn, fp, fn, tp = i.ravel()
        eval_dict= {'true_negative':tn,'false_positive':fp,'false_negative':fn,'true_positive':tp}
        mult_dict['class{}'.format(class_key)]=eval_dict
        class_key=class_key+1
    return mult_dict


def format_evaluation_metrics_multiple(accuracy, precision_statistics, recall_statistics, f1_statistics, conf_matrix):
    formated_metrics_for_multiple={'accuracy':accuracy,'precision_statistics':precision_statistics,'recall_statistics':recall_statistics,'f1_statistics':f1_statistics,'multiple_confusion_matrix':conf_matrix}

    return formated_metrics_for_multiple

def create_multiple_classification_evaluation_metrics_pipeline(test_set,prediction_set):
    accuracy=metrics.accuracy_score(test_set,prediction_set)
    micro_precision=metrics.precision_score(test_set,prediction_set, average='micro')
    macro_precision=metrics.precision_score(test_set,prediction_set, average='macro')
    weighted_precision=metrics.precision_score(test_set,prediction_set, average='weighted')
    precision_statistics={'micro':micro_precision,'macro':macro_precision,'weighted':weighted_precision}
    micro_recall=metrics.recall_score(test_set,prediction_set, average='micro')
    macro_recall=metrics.recall_score(test_set,prediction_set, average='macro')
    weighted_recall=metrics.recall_score(test_set,prediction_set, average='weighted')
    recall_statistics={'micro':micro_recall,'macro':macro_recall,'weighted':weighted_recall}
    micro_f1=recall=metrics.f1_score(test_set,prediction_set, average='micro')
    macro_f1=recall=metrics.f1_score(test_set,prediction_set, average='macro')
    weighted_f1=recall=metrics.f1_score(test_set,prediction_set, average='weighted')
    f1_statistics={'micro':micro_f1,'macro':macro_f1,'weighted':weighted_f1}
    conf_matrix = confusion_for_multiclass(y_test, y_pred)

    return format_evaluation_metrics_multiple(accuracy, precision_statistics, recall_statistics, f1_statistics, conf_matrix)

In [150]:
create_multiple_classification_evaluation_metrics_pipeline(y_test, dtree_predictions)

{'accuracy': 0.323593664664118,
 'precision_statistics': {'micro': 0.323593664664118,
  'macro': 0.3236633010845287,
  'weighted': 0.32371416458933616},
 'recall_statistics': {'micro': 0.323593664664118,
  'macro': 0.32359017534406503,
  'weighted': 0.323593664664118},
 'f1_statistics': {'micro': 0.323593664664118,
  'macro': 0.32345457368818226,
  'weighted': 0.32348163366250215},
 'multiple_confusion_matrix': {'class0': {'true_negative': 1172,
   'false_positive': 1278,
   'false_negative': 639,
   'true_positive': 573},
  'class1': {'true_negative': 1209,
   'false_positive': 1228,
   'false_negative': 642,
   'true_positive': 583},
  'class2': {'true_negative': 2437,
   'false_positive': 0,
   'false_negative': 1225,
   'true_positive': 0}}}